workflows/ai_ops_approval_n8n.json
{
  "id": "AiOpsApprovalV1",
  "name": "AI Ops Approval Workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const expected = String($env.AI_OPS_WEBHOOK_SECRET || '');\nfor (const item of $input.all()) {\n  const provided = String(item.json.headers?.['x-webhook-secret'] || '');\n  const body = item.json.body && typeof item.json.body === 'object' && !Array.isArray(item.json.body)\n    ? { ...item.json.body }\n    : {};\n  const bodyIdempotencyKey = body.idempotency_key;\n  delete body.idempotency_key;\n  item.json.webhook_authorized = expected.length > 0 && provided === expected;\n  item.json.idempotency_key = String(\n    item.json.headers?.['x-idempotency-key'] ||\n    bodyIdempotencyKey ||\n    `n8n-${$execution.id}`\n  );\n  item.json.request_payload = body;\n}\nreturn $input.all();"
      },
      "id": "d8e7b2df-3912-40c7-83d8-f74804d3e03b",
      "name": "Validate Request Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -590,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c848da5-5d10-453b-8752-a3e8e22dc524",
              "leftValue": "={{ $json.webhook_authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87ec3047-1bef-428a-b815-f58b119ea676",
      "name": "Authorize Request Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: 'Unauthorized webhook request' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "0eec1ce4-3a4b-4c56-9e41-6d1eb0242a09",
      "name": "Reject Request Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -260,
        -40
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-ops-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3f1d9551-fc3d-4a0f-9e3e-721d977ea001",
      "name": "Submit Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -160
      ],
      "webhookId": "8e31e6ad-6a9e-4dd3-b92f-2f01e9d01f20"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AI_OPS_API_BASE_URL || 'http://host.docker.internal:8000') + '/requests' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.AI_OPS_API_KEY || '' }}"
            },
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.idempotency_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request_payload) }}",
        "options": {}
      },
      "id": "1da1fe1b-d107-4875-9870-c3f637bbddf5",
      "name": "Create Backend Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $json;\nconst needsReview = request.triage?.requires_human_review === true;\nconst baseUrl = ($env.WEBHOOK_URL || 'http://localhost:5678').replace(/\\/+$/, '');\nreturn [{\n  json: {\n    request_id: request.id,\n    status: request.status,\n    category: request.triage?.category,\n    priority: request.triage?.priority,\n    confidence: request.triage?.confidence,\n    requires_human_review: needsReview,\n    suggested_action: request.triage?.suggested_action,\n    rationale: request.triage?.rationale,\n    risk_flags: request.triage?.risk_flags || [],\n    next_step: needsReview\n      ? 'Send a POST request to the decision webhook with request_id, decision, reviewer, and notes.'\n      : 'No manual decision is required for this low-risk request.',\n    decision_webhook_path: '/webhook/ai-ops-decision',\n    decision_webhook_example: needsReview ? {\n      request_id: request.id,\n      decision: 'approve',\n      reviewer: 'n8n-reviewer',\n      notes: 'Approved after manual review.'\n    } : null,\n    decision_webhook_url_hint: `${baseUrl}/webhook/ai-ops-decision`\n  }\n}];"
      },
      "id": "76d15f0c-e0ce-4fdf-9aa0-c21365d51722",
      "name": "Prepare Request Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const expected = String($env.AI_OPS_WEBHOOK_SECRET || '');\nconst uuidPattern = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nfor (const item of $input.all()) {\n  const provided = String(item.json.headers?.['x-webhook-secret'] || '');\n  const body = item.json.body || {};\n  const requestId = body.request_id ?? item.json.request_id;\n  const decision = body.decision ?? item.json.decision;\n  const reviewer = body.reviewer ?? item.json.reviewer;\n  const notes = body.notes ?? item.json.notes ?? '';\n  item.json.webhook_authorized = expected.length > 0 && provided === expected;\n  item.json.decision_payload_valid =\n    typeof requestId === 'string' &&\n    uuidPattern.test(requestId) &&\n    ['approve', 'reject', 'request_changes'].includes(decision) &&\n    typeof reviewer === 'string' &&\n    reviewer.trim().length >= 2 &&\n    reviewer.trim().length <= 120 &&\n    typeof notes === 'string' &&\n    notes.length <= 2000;\n  item.json.webhook_status = item.json.webhook_authorized ? 422 : 401;\n  item.json.webhook_error = item.json.webhook_authorized\n    ? 'Invalid decision payload'\n    : 'Unauthorized webhook request';\n}\nreturn $input.all();"
      },
      "id": "c2b7f748-50fa-48a4-8ee2-c6fe38b14c2f",
      "name": "Validate Decision Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -590,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa4fb215-4dff-4310-bd3f-b49c6191e162",
              "leftValue": "={{ $json.webhook_authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ecdf32ca-743e-4a95-a54d-3ee0c5e19b65",
              "leftValue": "={{ $json.decision_payload_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da321569-178c-46b0-b4a4-d29167e2a4b2",
      "name": "Authorize Decision Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -460,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.webhook_error || 'Invalid decision webhook request' } }}",
        "options": {
          "responseCode": "={{ $json.webhook_status || 400 }}"
        }
      },
      "id": "0c1b1d21-105c-4393-a110-a9dfcf9c8640",
      "name": "Reject Decision Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -260,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "c465a978-3311-4860-bbc8-e83a53415ae6",
      "name": "Respond With Triage",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        -160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-ops-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a0556f13-8ce8-410b-b73b-6de637e635ac",
      "name": "Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        160
      ],
      "webhookId": "6517900d-41bb-4bf1-aac1-795773ae5410"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AI_OPS_API_BASE_URL || 'http://host.docker.internal:8000') + '/requests/' + (($json.body && $json.body.request_id) || $json.request_id) + '/decision' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.AI_OPS_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ decision: (($json.body && $json.body.decision) ?? $json.decision), reviewer: (($json.body && $json.body.reviewer) ?? $json.reviewer), notes: (($json.body && $json.body.notes) ?? $json.notes ?? '') }) }}",
        "options": {}
      },
      "id": "5230c41c-9613-4116-a579-8323440f2434",
      "name": "Record Backend Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "ec499d96-2705-43dd-9bec-b5b49fd46ff8",
      "name": "Respond With Decision",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -200,
        160
      ]
    },
    {
      "parameters": {
        "content": "## AI Ops Approval Workflow\\n\\n1. POST to `/webhook/ai-ops-request` with `X-Webhook-Secret`.\\n2. n8n calls the FastAPI backend using `AI_OPS_API_BASE_URL` and `AI_OPS_API_KEY`.\\n3. Backend classifies the request with mock or OpenAI LLM mode.\\n4. If `requires_human_review` is true, POST to `/webhook/ai-ops-decision` with the secret and decision payload.\\n\\nNo credentials are stored in this workflow export.",
        "height": 320,
        "width": 480
      },
      "id": "c75a08f3-08e5-4025-a022-43f26f700d43",
      "name": "Workflow Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Submit Request Webhook": {
      "main": [
        [
          {
            "node": "Validate Request Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request Webhook": {
      "main": [
        [
          {
            "node": "Authorize Request Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorize Request Webhook": {
      "main": [
        [
          {
            "node": "Create Backend Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Request Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Backend Request": {
      "main": [
        [
          {
            "node": "Prepare Request Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request Response": {
      "main": [
        [
          {
            "node": "Respond With Triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Webhook": {
      "main": [
        [
          {
            "node": "Validate Decision Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Decision Webhook": {
      "main": [
        [
          {
            "node": "Authorize Decision Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authorize Decision Webhook": {
      "main": [
        [
          {
            "node": "Record Backend Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Decision Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Backend Decision": {
      "main": [
        [
          {
            "node": "Respond With Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "f146bc2f-8d3c-4ec2-956d-dd0c358ff0c5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "ai-automation"
    },
    {
      "name": "human-in-the-loop"
    },
    {
      "name": "portfolio"
    }
  ]
}
